<div id="toastEle" class="toast">
    <p>{{toastMsg}}</p>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title"> Survey Published and Live !</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5>Sharable Link</h5>
        <a [href]="answerLink">
            <p>{{answerLink}}</p>
        </a>
        <!-- <h5>Analytics Report</h5>
        <a [href]="analyticsLink">
            <p>{{analyticsLink}}</p>
        </a> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<article class="survey-generator">
    <header class="survey-generator__header">
        <div class="survey-generator__header__content">
            <div class="survey-generator__header__content__info">
                <img routerLink="/" class="left-arrow" src="../../assets/images/left_arrow.svg" alt="left arrow" />
                <p>Atos Studio Survey Generator</p>
            </div>
            <div class="survey-generator__header__content__control-panel">
                <div [routerLink]="[analyticsLink]"
                    class="survey-generator__header__content__control-panel__analyticsBtn">
                    <img src="../../assets/images/analytics.svg" alt="anaimage">
                    <p>Analytics</p>
                </div>
                <div (click)="publishSurvey(content)"
                    class="survey-generator__header__content__control-panel__publish-btn">
                    <p>Publish</p>
                </div>
            </div>
        </div>
    </header>
    <section class="survey-generator__questionTypes">
        <header class="survey-generator__questionTypes__title">
            <p>questions type</p>
        </header>
        <div *ngFor="let type of questionTypes;index as i" (click)="addQuestion(i)"
            class="survey-generator__questionTypes__type">
            <img [src]="type.icon" alt="icon" />
            <p> {{type.name}} </p>
        </div>
    </section>
    <main class="survey-generator__main">
        <div class="survey-generator__main__content">
            <header class="survey-generator__main__content__header">
                <div class="survey-generator__main__content__header__title">
                    <h1>{{currSurvey.name}} blueprint</h1>
                    <p>{{!hasAdded?
                        "Add a question from the left side menu":
                        "Click on save for local changes,click publish to share with customers"}}</p>
                </div>
                <div *ngIf="false" class="survey-generator__main__content__header__save" (click)="tempSave()">
                    <img src="../../assets/images/save_btn.svg" alt="">
                    <p>Save</p>
                </div>
            </header>
            <main class="survey-generator__main__content__questions">
                <div *ngFor="let question of questions;index as i"
                    class="survey-generator__main__content__questions__question">
                    <ng-container
                        *ngIf="question.type===SurveyComponentType.SINGLE_LINE_TEXT ||question.type===SurveyComponentType.NUMERIC || question.type===SurveyComponentType.MULTIPLE_LINE_TEXT">
                        <div class="survey-generator__main__content__questions__question__about">
                            <p class="survey-generator__main__content__questions__question__about__question-num">
                                Q.{{i+1}}
                            </p>
                            <input [readOnly]="this.isPublished"
                                class="survey-generator__main__content__questions__question__about__input" type="text"
                                [(ngModel)]="question.main_data" placeholder="Input your question here">
                        </div>
                        <footer class="survey-generator__main__content__questions__question__about__footer">
                            <span
                                class="survey-generator__main__content__questions__question__about__footer__type-badge"
                                [ngClass]="{
                                    'survey-generator__main__content__questions__question__about__footer__type-badge--text': question.type === SurveyComponentType.SINGLE_LINE_TEXT,
                                    'survey-generator__main__content__questions__question__about__footer__type-badge--multiple-text':question.type === SurveyComponentType.MULTIPLE_LINE_TEXT,
                                    'survey-generator__main__content__questions__question__about__footer__type-badge--numeric':question.type === SurveyComponentType.NUMERIC
                                }">{{getClientFriendlyName(question.type)}}</span>
                            <img (click)="deleteQuestion(i)" src="../../assets/images/delete_icon.svg" alt="delete">
                        </footer>
                    </ng-container>
                    <ng-container
                        *ngIf="question.type === SurveyComponentType.SINGLE_SELECTION || question.type === SurveyComponentType.MULTIPLE_SELECTION">
                        <div class="survey-generator__main__content__questions__question__about">
                            <p class="survey-generator__main__content__questions__question__about__question-num">
                                Q.{{i+1}}
                            </p>
                            <input [readOnly]="this.isPublished"
                                class="survey-generator__main__content__questions__question__about__input" type="text"
                                [(ngModel)]="question.main_data" placeholder="Input your question here">
                        </div>
                        <footer class="survey-generator__main__content__questions__question__about__footer">
                            <div>
                                <span
                                    class="survey-generator__main__content__questions__question__about__footer__type-badge"
                                    [ngClass]="{
                                        'survey-generator__main__content__questions__question__about__footer__type-badge--single-selection':question.type === SurveyComponentType.SINGLE_SELECTION,
                                        'survey-generator__main__content__questions__question__about__footer__type-badge--multiple-selection':question.type=== SurveyComponentType.MULTIPLE_SELECTION
                                    }">{{getClientFriendlyName(question.type)}}</span>
                                <p (click)="enableMcq(i)">Add Choices</p>
                            </div>
                            <img (click)="deleteQuestion(i)" src="../../assets/images/delete_icon.svg" alt="delete">
                        </footer>
                    </ng-container>
                    <ng-container
                        *ngIf="question.type === SurveyComponentType.RATING || question.type === SurveyComponentType.SLIDER">
                        <div class="survey-generator__main__content__questions__question__about">
                            <p class="survey-generator__main__content__questions__question__about__question-num">
                                Q.{{i+1}}
                            </p>
                            <input [readOnly]="this.isPublished"
                                class="survey-generator__main__content__questions__question__about__input" type="text"
                                [(ngModel)]="question.main_data" placeholder="Input your question here">
                        </div>
                        <footer class="survey-generator__main__content__questions__question__about__footer">
                            <div>
                                <span
                                    class="survey-generator__main__content__questions__question__about__footer__type-badge"
                                    [ngClass]="{
                                        'survey-generator__main__content__questions__question__about__footer__type-badge--rating':question.type === SurveyComponentType.RATING,
                                        'survey-generator__main__content__questions__question__about__footer__type-badge--slider':question.type === SurveyComponentType.SLIDER
                                    }">{{getClientFriendlyName(question.type)}}</span>
                                <p (click)="enableRatingEdit(i)">Add Details</p>
                            </div>
                            <img (click)="deleteQuestion(i)" src="../../assets/images/delete_icon.svg" alt="delete">
                        </footer>
                    </ng-container>
                </div>
            </main>
        </div>
    </main>
    <section class=" survey-generator__properties">
        <header class="survey-generator__properties__title">
            <p>Properties Panel</p>
            <p class="survey-generator__properties__title__subtitle">
                Edit the text of your survey component here
            </p>
        </header>
        <main *ngIf="mcqEnabled" class="survey-generator__properties__body-mcq">
            <header class="survey-generator__properties__body-mcq__header">
                <h6>Choices for this mcq</h6>
                <hr />
            </header>
            <div class="survey-generator__properties__body-mcq__body">
                <div class="survey-generator__properties__body-mcq__body__choice"
                    *ngFor="let choice of currMcq;index as mcqi;trackBy:trackByFn">
                    <p>Choice {{mcqi+1}}: </p>
                    <input [readOnly]="this.isPublished" (keydown)="handleMcqEnter($event)" [(ngModel)]="currMcq[mcqi]"
                        type="text" placeholder="Input choice" />
                    <img src="../../assets/images/delete_icon.svg" alt="delete" (click)="deleteMcq(mcqi)">
                </div>
            </div>
            <footer class="survey-generator__properties__body-mcq__footer">
                <div (click)="addMcq()"
                    class="survey-generator__properties__body-mcq__footer__btn survey-generator__properties__body-mcq__footer__btn--add">
                    Add Choice</div>
                <div (click)="submitMcq()"
                    class="survey-generator__properties__body-mcq__footer__btn survey-generator__properties__body-mcq__footer__btn--submit">
                    Submit</div>
            </footer>
        </main>
        <main *ngIf="ratingEnabled" class="survey-generator__properties__body-mcq__rating">
            <h3>Scale Settings</h3>
            <p *ngIf="firstRatingStep">Max Value: </p>
            <input [readOnly]="this.isPublished" *ngIf="firstRatingStep" [(ngModel)]="currRating" type="number"
                default="5" maxlength="3" pattern="([0-9]|[0])" (keydown)="handleNumberKeydown($event)">
            <br />
            <br />
            <div *ngIf="!firstRatingStep" class="survey-generator__properties__body-mcq__rating__annotation">
                <div *ngFor="let annotation of currAnnotationArr;index as i;trackBy:trackByFn2">
                    <input [readOnly]="this.isPublished" type="text" name="annotation" placeholder="Guideline {{i+1}}"
                        [(ngModel)]="currAnnotationArr[i]">
                </div>
            </div>

            <div class="submit" (click)="handleRatingSubmit()">
                <p>{{firstRatingStep?"Next":"Submit"}}</p>
            </div>
        </main>
    </section>
</article>