<article class="survey-landing">
    <header class="survey-landing__header">
        <div class="container">
            <div class="new-survey__header_content">
                <h3>Atos Survey Dashboard</h3>
            </div>
        </div>
    </header>
    <section class="survey-landing__new">
        <h3>Online <br /> Survey Tool</h3>
        <p>Quick and easy survey generation to share to customers and collect insights</p>
        <div class="survey-landing__new__details">
            <input [(ngModel)]="newSurveyName" name="survey_name" type="text" placeholder="Enter Survey Name"
                (keydown)="handleEnter($event)" />
            <input [(ngModel)]="newSurveyDesc" name="survey_desc" type="text" placeholder="Enter Survey Desc"
                (keydown)="handleEnter($event)" maxlength="140" />
            <div class="survey-landing__new__details__button" (click)="createSurvey()">
                <p>Generate New Survey</p>
                <img src="../../assets/images/noun_Arrow_3078248.svg" alt="right arrow">
            </div>
        </div>
    </section>
    <section class="survey-landing__allsurveys">
        <figure *ngIf="!hasSurveys" class="survey-landing__allsurveys__nosurveys">
            <img src="../../assets/images/survey_bg.svg" alt="survey_bg">
            <figcaption>No surveys created yet !</figcaption>
        </figure>
        <section *ngIf="hasSurveys" class="survey-landing__allsurveys__cards-list">
            <div *ngFor="let survey of allSurveys;index as i;" class="survey-landing__allsurveys__cards-list__card"
                (click)="goToGenerator(i)">
                <div class="survey-landing__allsurveys__cards-list__card__card-image">
                    <img
                        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/9757d496-239b-46c5-baea-6873cbfe9b3d/dd2x2f3-8e5b4f1f-d266-48ab-b611-2b7ccece6ac8.jpg/v1/fill/w_1192,h_670,q_70,strp/above_the_gemstone_valley_by_joeyjazz_dd2x2f3-pre.jpg" />
                </div>
                <div class="survey-landing__allsurveys__cards-list__card__card-title">
                    <p>{{survey.name}}</p>
                </div>
            </div>
        </section>
    </section>
</article>