<article class="survey-landing">
    <header class="survey-landing__header">
        <div class="container">
            <div class="new-survey__header_content">
                <h3>Atos Survey Dashboard</h3>
            </div>
        </div>
    </header>
    <main class="survey-landing__main">
        <section class="survey-landing__main__new">
            <h3>Online <br /> Survey Tool</h3>
            <p>Quick and easy survey generation to share to customers and collect insights</p>
            <div class="survey-landing__main__new__details">
                <input name="survey_name" type="text" placeholder="Enter Survey Name" />
                <label id="survey_name_label" for="survey_name">
                    <div class="survey-landing__main__new__details__button">
                        <p>Generate New Survey</p>
                        <img src="../../assets/images/noun_Arrow_3078248.svg" alt="right arrow">
                    </div>
                </label>
            </div>
        </section>
        <section class="survey-landing__main__allsurveys">
            <figure class="survey-landing__main__allsurveys__nosurveys">
                <img src="../../assets/images/survey_bg.svg" alt="survey_bg">
                <figcaption>No surveys created yet !</figcaption>
            </figure>
        </section>
    </main>
</article>