.toast {
    position: fixed;
    bottom:1em;
    right:3em;
}
.annotation{
  white-space: pre-wrap;
}
.survey-viewer {
    width:100vw;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(9,1fr);
    row-gap: 0px;
    column-gap: 0px;
    grid-template-areas: 
    "header header header header header header about about"
    "currQues currQues currQues currQues currQues currQues about about"
    "currQues currQues currQues currQues currQues currQues about about"
    "currQues currQues currQues currQues currQues currQues about about"
    "currQues currQues currQues currQues currQues currQues about about"
    "currQues currQues currQues currQues currQues currQues about about"
    "currQues currQues currQues currQues currQues currQues about about"
    "currQues currQues currQues currQues currQues currQues about about"
    "currQues currQues currQues currQues currQues currQues about about"; 
    &__header {
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    //     -webkit-box-shadow: 0 8px 6px -6px grey;
	//    -moz-box-shadow: 0 8px 6px -6px grey;
	//         box-shadow: 0 8px 6px -6px grey;
        border-bottom: 3px solid rgb(243, 243, 243);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        letter-spacing: 0.5px; 
        padding:0 1em;
        p{
            color:grey;
            margin-right:8px;
        }
        h3 {
        }
    }
    &__currQues{
        grid-area: currQues;
        display: flex;
        padding-block: 7em;
        padding-left:10vw;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        &__question {
            display: flex;
            flex-direction: column;
            width:80%;
            &__header {
                display: flex;
                flex-direction: row;
                margin-bottom: 30px;
                p {
                    font-size: 1.8rem;
                }
                p:first-of-type {
                    margin-right: 20px;
                }
            }
            &__answer {
                outline:none;
                width:100%;
                height:120%;
                border: 0; 
                padding: 7px 0; 
                border-bottom: 2px solid rgb(236, 236, 236);
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                font-size: 1.6rem;
                font-family: "Lato", Arial, sans-serif; 
                color: #333; 
                letter-spacing: 1px;
                &:focus {
                    outline:none;
                }
            }
            &__choice {
                display: flex;
                align-items:center;
                justify-content: flex-start;
                padding-left:1vw;
                margin-bottom: 1em;
                @supports(-webkit-appearance: none) or (-moz-appearance: none) {
                    input[type='checkbox'],
                    input[type='radio'] {
                      --active: #275EFE;
                      --active-inner: #fff;
                      --focus: 2px rgba(39, 94, 254, .3);
                      --border: #BBC1E1;
                      --border-hover: #275EFE;
                      --background: #fff;
                      --disabled: #F6F8FF;
                      --disabled-inner: #E1E6F9;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      height: 21px;
                      outline: none;
                      display: inline-block;
                      vertical-align: top;
                      position: relative;
                      margin: 0;
                      cursor: pointer;
                      border: 1px solid var(--bc, var(--border));
                      background: var(--b, var(--background));
                      transition: background .3s, border-color .3s, box-shadow .2s;
                      &:after {
                        content: '';
                        display: block;
                        left: 0;
                        top: 0;
                        position: absolute;
                        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
                      }
                      &:checked {
                        --b: var(--active);
                        --bc: var(--active);
                        --d-o: .3s;
                        --d-t: .6s;
                        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
                      }
                      &:disabled {
                        --b: var(--disabled);
                        cursor: not-allowed;
                        opacity: .9;
                        &:checked {
                          --b: var(--disabled-inner);
                          --bc: var(--border);
                        }
                        & + label {
                          cursor: not-allowed;
                        }
                      }
                      &:hover {
                        &:not(:checked) {
                          &:not(:disabled) {
                            --bc: var(--border-hover);
                          }
                        }
                      }
                      &:focus {
                        box-shadow: 0 0 0 var(--focus);
                      }
                      &:not(.switch) {
                        width: 21px;
                        &:after {
                          opacity: var(--o, 0);
                        }
                        &:checked {
                          --o: 1;
                        }
                      }
                      & + label {
                        font-size: 14px;
                        line-height: 21px;
                        display: inline-block;
                        vertical-align: top;
                        cursor: pointer;
                        margin-left: 30px;
                        font-size:1.5rem;
                      }
                    }
                    input[type='checkbox'] {
                      &:not(.switch) {
                        border-radius: 7px;
                        &:after {
                          width: 5px;
                          height: 9px;
                          border: 2px solid var(--active-inner);
                          border-top: 0;
                          border-left: 0;
                          left: 7px;
                          top: 4px;
                          transform: rotate(var(--r, 20deg));
                        }
                        &:checked {
                          --r: 43deg;
                        }
                      }
                      &.switch {
                        width: 38px;
                        border-radius: 11px;
                        &:after {
                          left: 2px;
                          top: 2px;
                          border-radius: 50%;
                          width: 15px;
                          height: 15px;
                          background: var(--ab, var(--border));
                          transform: translateX(var(--x, 0));
                        }
                        &:checked {
                          --ab: var(--active-inner);
                          --x: 17px;
                        }
                        &:disabled {
                          &:not(:checked) {
                            &:after {
                              opacity: .6;
                            }
                          }
                        }
                      }
                    }
                    input[type='radio'] {
                      border-radius: 50%;
                      &:after {
                        width: 19px;
                        height: 19px;
                        border-radius: 50%;
                        background: var(--active-inner);
                        opacity: 0;
                        transform: scale(var(--s, .7));
                      }
                      &:checked {
                        --s: .5;
                      }
                    }
                  }
            }
            &__slider {
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              p{
                color:grey;
              }
            }
            &__rating{
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              p{
                color:grey;
              }
            }
            &__footer {
                margin-top:50px;
                margin-bottom:min(11em,9vh);
                color:white;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &__okbtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #06BF6F;
                    width:4em;
                    height:2.5em;
                    text-transform: uppercase;
                    margin-right:30px;
                }
                &__enter {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    p{
                        color:black;
                        font-size:1rem;
                    }
                    img {
                        width:25px;
                        height:25px;
                        margin-left: 10px;
                        margin-top: 8px;
                    }
                }
            }
        }
        &__navBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:100%;
            padding-right:1em;
            &__nav {
                display: flex;
                div{
                    display: flex;
                    justify-content: space-between;
                    align-items:center;
                    padding-inline:1em;
                }
                &__prevBtn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 1.9em;
                    img {
                        width:15px;
                        height:20px;
                        margin-top: 5px;
                    }
                    p{
                        margin-left: 10px;
                        font-size:0.75rem;
                    }
                }
                &__nextBtn {
                    border: 2px solid rgb(173, 173, 173);
                    -webkit-background-clip: padding-box;
                    background-clip: padding-box;
                    border-radius: 3px;
                    height:2.7em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        width:20px;
                        height:20px;
                        transform: scale(-1);
                        margin-bottom: 1px;
                    }
                    p{
                        margin-right: 40px;
                        font-size:0.8rem;
                        font-weight: 450;
                        text-transform: uppercase;
                    }
                }
            }
            &__submitSurvey {
                background-color: #06bf6f;
                padding:1em 2em;
                color:white;

            }
        }
    }
    &__about {
        padding:1.8em 2em;
        grid-area:about;
        background-color: #F7F7F7;
        border-left: 3px solid rgba(243,243,243);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        header {
          h5 {
            margin-top:1.5em;
          }
        }
        &__progress {
          width:100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }
}