<ngb-toast class="toast" *ngIf="toastVisible" (delay)=9000 (hidden)="toastVisible=false">
    {{toastText}}
</ngb-toast>
<article class="survey-viewer">
    <header class="survey-viewer__header">
        <p>Survey: </p>
        <h4>{{currSurveyTitle}}</h4>
    </header>
    <main class="survey-viewer__currQues">
        <section class="survey-viewer__currQues__question">
            <header class="survey-viewer__currQues__question__header">
                <p>Q.{{currQuesIndex+1}}</p>
                <p>{{allQues[currQuesIndex].main_data}}</p>
            </header>
            <ng-container [ngSwitch]="allQues[currQuesIndex].type">
                <div *ngSwitchCase="SurveyComponentType.SINGLE_LINE_TEXT">
                    <input class="survey-viewer__currQues__question__answer" type="text" [(ngModel)]="currAnswer"
                        placeholder="Input your answer here" (keydown)="handleKeydown($event)">
                </div>
                <div *ngSwitchCase="SurveyComponentType.NUMERIC">
                    <input class="survey-viewer__currQues__question__answer" type="number" [(ngModel)]="currAnswer"
                        placeholder="Input your answer here" (keydown)="handleNumberKeydown($event)">
                </div>
                <div *ngSwitchCase="SurveyComponentType.MULTIPLE_LINE_TEXT">
                    <textarea [(ngModel)]="currAnswer" class="survey-viewer__currQues__question__answer" name=""
                        id=""></textarea>
                </div>
                <div *ngSwitchCase="SurveyComponentType.SINGLE_SELECTION">
                    <fieldset *ngFor="let choice of allQues[currQuesIndex].additional_data;index as ci"
                        class="survey-viewer__currQues__question__choice">
                        <input (change)="handleCheckbox($event,true)" id="choice_label" name="choice_label" type="radio"
                            class="survey-viewer__currQues__question__choice__switch" [value]="choice">
                        <label for="choice_label">{{choice}}</label>
                    </fieldset>
                </div>
                <div *ngSwitchCase="SurveyComponentType.MULTIPLE_SELECTION">
                    <fieldset *ngFor="let choice of allQues[currQuesIndex].additional_data;index as ci"
                        class="survey-viewer__currQues__question__choice">
                        <input (change)="handleCheckbox($event,false)" id="choice_label" name="choice_label"
                            type="checkbox" class="survey-viewer__currQues__question__choice__switch" [value]="choice">
                        <label for="choice_label">{{choice}}</label>
                    </fieldset>
                </div>
                <div *ngSwitchCase="SurveyComponentType.RATING">
                    <div class="survey-viewer__currQues__question__rating">
                        <div>
                            <ngb-rating [(rate)]="currAnswer" [max]="allQues[currQuesIndex].additional_data.max">
                            </ngb-rating>
                            <hr>
                            <pre>Rate: <b>{{currAnswer}}</b></pre>
                        </div>
                        <p class="annotation" *ngIf="allQues[currQuesIndex].additional_data.annotation">
                            <b>Annotation</b><br /> {{allQues[currQuesIndex].additional_data.annotation}}
                        </p>
                    </div>
                </div>
                <div *ngSwitchCase="SurveyComponentType.SLIDER">
                    <div class="survey-viewer__currQues__question__slider">
                        <div>
                            <input type="range" min="1" [max]="allQues[currQuesIndex].additional_data.max"
                                [(ngModel)]="currAnswer">
                            <pre>{{currAnswer}}</pre>
                        </div>
                        <p class="annotation" *ngIf="allQues[currQuesIndex].additional_data.annotation">
                            <b>Annotation</b><br />
                            {{allQues[currQuesIndex].additional_data.annotation}}
                        </p>
                    </div>

                </div>
            </ng-container>
            <footer class="survey-viewer__currQues__question__footer">
                <div class="survey-viewer__currQues__question__footer__okbtn" (click)="submitQuestion()">
                    Ok
                </div>
                <div class="survey-viewer__currQues__question__footer__enter">
                    <p>press <b>Enter</b> </p>
                    <img src="../../assets/images/enter.svg" alt="enter">
                </div>
            </footer>
        </section>
        <nav class="survey-viewer__currQues__navBar">
            <div class="survey-viewer__currQues__navBar__nav">
                <div class="survey-viewer__currQues__navBar__nav__prevBtn" (click)="prevQuestion()">
                    <img src="../../assets/images/left_arrow.svg" alt="left arrow">
                    <p>Previous</p>
                </div>
                <div class="survey-viewer__currQues__navBar__nav__nextBtn" (click)="nextQuestion()">
                    <p>Next</p>
                    <img src="../../assets/images/left_arrow.svg" alt="">
                </div>
            </div>
            <div *ngIf="questionsAnswered === allQues.length" (click)="submitAnswers()"
                class="survey-viewer__currQues__navBar__submitSurvey">
                <p>Submit Survey</p>
            </div>
        </nav>
    </main>
    <section class="survey-viewer__about">
        <header>
            <h3>About</h3>
            <h5 *ngIf="currSurveyDesc && currSurveyDesc.length > 1">Description</h5>
            <p *ngIf="currSurveyDesc && currSurveyDesc.length > 1">{{currSurveyDesc}}</p>
            <h5>Questions Answered</h5>
            <p>{{questionsAnswered}}</p>
            <h5>Completion Time</h5>
            <p>3mins</p>
        </header>
        <div class="survey-viewer__about__progress">
            <circle-progress [percent]="questionsAnswered/allQues.length*100" [radius]="100" [outerStrokeWidth]="16"
                [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="300">
            </circle-progress>
        </div>
    </section>
</article>