@use 'sass:math';
@import "../../breakpoints.scss";


body {
    overflow-y: auto;
    overflow-x: hidden;
}
$circle-w: 100px;
$circle-bg: #fff;
$arrow-bg:#55544F;
$body-bg: #9DDCDC;
$bezier: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$bezier-bounce: cubic-bezier(.87,-.41,.19,1.44);
$anim-timing: 3s;
.fullscreen{
    width:100vw;
    height:100vh;
    &--smaller{
      height: 70vh;
    }
}
.segway {
    margin-inline:auto;
    padding-inline:1em;
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        li{  
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &::before{
                content:"■"; 
                font-size:50pt; 
                margin-right:20px;
            }
            h1 {
                margin-top: 10px;
            }
        }
    }
}
.survey-analytics-intro {
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    overflow-x: hidden;
    header {
        p {
            color:grey;
        }
        h1 {
            font-size:5rem;
        }
    }
    .ico {
        margin: 0 auto;
        text-align: center;
        position: absolute;
        bottom: 0px;
        width: $circle-w;
        height: $circle-w;
        transform: translateY(-50%);
        filter: url("#goo");
        .circle {
          transform:scale(0.2);
          background: $circle-bg;
          border-radius: 50%;
          display: inline-block;
          height: $circle-w;
          width: $circle-w;
          
          position: absolute;
          top: 50%;
          left:50%;
          transform: translateX(-50%) translateY(-50%);
          transform-origin: 0%;
          
          &.circle-top {
            height: math.div($circle-w,3);
            width: math.div($circle-w,2.4);
            animation: blob-1-anim $anim-timing $bezier infinite;
            z-index: 0;
            top:0;
          }
          &.circle-bottom {
            height: math.div($circle-w,3);
            width: math.div($circle-w,2.4);
            animation: blob-2-anim $anim-timing $bezier  infinite;
            z-index: 9;
            bottom:0px;
          }
          
        }
        
        
        .st-arrow{
          fill:$arrow-bg;
          animation: scrolly $anim-timing $bezier forwards infinite;
          perspective: 9000px;
          transform: translateZ(0);
          transform-origin: bottom;
        }
      }
      
      .svg {z-index:9;position:relative;}
        
      @keyframes blob-1-anim {
        0%{
          transform:translateX(-50%) translateY(0);
        }
        14%{
          transform:translateX(-50%) translateY(-8px);
        }
        24% {
          transform:translateX(-50%) translateY(0);
        }
        100% {
          transform:translateX(-50%) translateY(0);
        }
      }
      
      @keyframes blob-2-anim {
        0% {
          //transform: scale(1) translate(-50%,-150%);
          transform: scale(1) translate(-50%,10px);
        }
        30% {
          //transform: scale(1) translate(-50%,-50%);
          transform: scale(1) translate(-50%,10px);
        }
        70% {
          //transform: scale(1) translate(-50%,-50%);
          transform: scale(1) translate(-50%,10px);
          
        }
        95% {
          //transform: scale(1) translate(-50%,-50%);
          transform: scale(1) translate(-50%,26px);
          
          
        }
        100% {
          //transform: scaleX(1.5) translate(-50%,140%);
          transform: scale(1) translate(-50%,10px);
        }
      }
      
      @keyframes scrolly {
        0% {
          transform: translate3d(0,-150%,0) rotateX(90deg) scale(0.5) skewX(3deg);
        }
        30% {
          transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
        }
        70% {
          transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
        }
        95% {
          transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        }
        100% {
          transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        }
      }
}

.survey-analytics-question {
    background-color: #B3BFCE;
    padding:0.5em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    @include media("<=tablet") {
      flex-direction: column;
      padding: 2em 0;
    }
    h3 {
      color:white;
      text-align: center;
      font-size: 2rem;
    }
    &__chart {
      max-width: 70vw;
      canvas {
        height:100% !important;
        width: 100% !important;
        //margin-left:10vw;
      }
      overflow: hidden;
    }
    &__numerical {
      margin-left: 4em;
      width:100%;
      max-height:80%;
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      span{
        color:grey;
        display: inline;
      }
      p {
        font-size: 2.5rem;
        white-space: nowrap;
      }
      div{
        margin-inline:2em;
        white-space: nowrap;
        height:auto;
        width:100%;
        overflow:auto;
        @include media("<=tablet") {
          margin:0;
        }
      }
    }
}

   